.oswald-font {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.orbitron-font {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}